/* Con esto eliminamos los margenes por default a todos los elementos */
*{
    margin: 0px;
    padding: 0px;
}
/* p { 
  margin: 50px 0 50px 30px;
  padding: 20px;
  border: solid 1px red;
}
img{
    width: 20px;
} */
/* Desde aqui para pantallas de monitor  */
/* Barra de Menu */
a{
    text-decoration: none;
    color:white
}
li{
    margin: 12px;
    padding: 10px;
    border:solid 1px skyblue;
    background-color: rgb(95, 146, 240);
    width: 200px;
    text-align: center;
    /* Redondea los bordes */
    border-radius: 30px;
    /* sombra de elementos */
    box-shadow: 3px 3px 3px black;
    /* Estilo de lista */
    list-style: none;
}
/* Al pasar el mouse */
li:hover{
    opacity: 0.5;
    background-color:  skyblue;
    color: black;
    font-size: 3em;
}
nav{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
}
nav p{
    color: rgb(95, 146, 240);
    width: 450px;
    font-size: 30px;
    text-shadow: 15px 9px 9px black;
    letter-spacing: 3px;
}
nav img{
    width: 15%;
} 
header{
    background: linear-gradient(rgb(131, 131, 219), rgb(124, 192, 212),#fff );
    padding: 15px;
    width: 95%;
    height: 100vh;
}
ul{
       display: flex;   
}
/* pie de pagina */
footer{
    background-color: blue; 
} 
.caja{
    text-align: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cajita{
    width: 50%;
}
.caja img{
    width: 80%;
} 
h1{
  font-size: 4em;
  text-align: right; 
} 
span{
    color: rgb(95, 146, 240);
    font-style: italic;
    text-shadow: 3px 3px 3px black;
}
.cajita p{
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
}
/* Empiza acerca de */
.acercade{
 width: 100%;
 height: 80vh; 
 background-image: url("../img/vectorAzul.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover; /*ocupa todo */
 align-items: center;
 justify-content: center;
}
h2{
    text-align: center;
    font-size: 2em;
}
.acercade2{
    width: 60%;
    height: 50vh;
    text-align: justify;
    justify-content: center;
    /* linear-gradient(rgb(131, 131, 219), rgb(124, 192, 212),#fff ); */
    background: linear-gradient(to right,rgb(124, 192, 212) , rgb(131 131 219 / 59%) ,#fff);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 30px;
}
.acercade1{
    align-items: center;
    justify-content: center;
    display: flex;  
}
.hamburguesa{
    display: none;
}
#menu {
    display: none;
}
.llama{
    display: flex;
}
/* logo de wahatsapp */
.whatsaap{
    position: fixed;
    width: 100px;
    bottom: 25px;
    right: 25px;
}
/* efecto paralax la imagen se queda atras fijadaefecto paralage  */
.paralax{
    width: 100%;
    height: 40vh;
    background: url('../img/edificio.jpg');
    background-size: contain;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center; 
}
.paralax p{
    width: 60%;
    font-size: 3em;
    text-align: center;
    color:#e3d0d0;
    text-shadow: 0 0 7px #fff ,
                0 0 14px #fff ,
                0 0 21px #fff,
                    0 0 42px #7dcde6,
                    0 0 82px #7dcde6,
                    0 0 120px #7dcde6,
                0 0 120px #6fe688,
                0 0 140px #6fe688,
                0 0 160px #6fe688  ;
}
.portafolio{
    width: 100%;
    height: 120vh; 
    background-size: contain;
}
/*   Modelo responsivo
    >900      =Un  Monitor
    900 y 600 =Tablet
    <= 599    =Celular
*/
/* Responsivo para celular desde aqui */
 
 @media(max-width:900px) { 
   header{
    display: block;
    /* color: antiquewhite;  */
   }
   nav ul{ 
        display: none; 
        position: absolute;
        top:50px;
        right: 100px;
   }
   .hamburguesa{
        display: block;
        width: 8em;
    }
    li:hover{
        opacity: 1;
        background-color: #c8e5f1;
        color: #910909f2;
        font-size: 1.5em;
        font-weight: bold;
    } 
    input:checked ~ul{
        display: block;
        background-color: rgb(87 95 193 / 65%);
        box-shadow: 3px 5px 3px black;
        border-radius: 20px;
    }
    .cajita {
        display: none;
    }
    .nombre{
        display: block;
        width: 90%;
        text-align: center;
    }
    .nombre h1{
        text-align: center;
    }
    .acercade2{
        width: 90%;
    }
 }

 